:root {
    --background-color: #000000;
}

/* Reset CSS */
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Main Content */
section.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.image-frame {
    position: relative;
    width: calc(90vh * 1080 / 1350);
    height: 90vh;
    background-color: var(--background-color);
    max-width: 100%;
}

#uploaded-media {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 77%;
    height: 40%;
    z-index: 1;
}

#uploaded-media img, #uploaded-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.device-frame {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: 2;
}


/* Control Menu */
.nav {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 15vw;
    padding: 10px;
}