:root {
  --lightgray: #f0f0f0;
  --mediumgray: #dbdbdb;
  --darkgray: #b8b8b8;
  --text-color: rgb(77, 77, 77);
  --red: #ff0000;
}

/* Reset CSS */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*Typography */
* {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

/* Main Content */
main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--lightgray);
}

/* Control Menu */
section.nav {
  height: 100%;
  padding: 20px;
  z-index: 3;
  width: 20%;
  color: var(--text-color);
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.nav ul > li {
  padding: 10px;
  background-color: var(--darkgray);
  border-radius: 16px;
}

button,
input,
label[for="file-input"] {
  display: inline-block;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  background: var(--mediumgray);
  border-radius: 6px;
  padding: 10px;
}

label[for="file-input"],
#btn-download {
  width: 100%;
  text-align: center;
}

/* Hide the file input element, .custom-file-input for replacement */
input[type="file"] {
  display: none;
}

#btn-download:active {
  animation: fade-to-red 1s ease-in-out alternate;
}

/* .nav ul > li:not(:last-of-type) {
  border-bottom: 1px solid var(--darkgray);
  padding-bottom: 10px;
} */

/* Image Section */
section.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  pointer-events: none;
  width: 80%;
  padding: 20px;
}

/*KEYFRAMES*/
@keyframes fade-to-red {
  to {
    background-color: var(--red);
  }
}
